.discoverCardHeader {
  margin-bottom: 40px;
}

.discoverCardBody {
 padding-bottom: 16px !important;
}

.discoverCardBody > .row {
  margin-bottom: 0px !important;
}

.discoverCardViewBtn {
  float: right;
  margin-top: -16px;
}
