@import "color";
@import "variables";
@import "../components/form-components/FormStyle";
@import "../components/card-components/CardStyle";
@import "../components/card-components/DiscoverSnippetCard/DiscoverSnippetCard";
@import "../components/side-nav-components/LoginSideNavHeader/LoginSideNavHeader";
@import "../components/side-nav-components/SideNavHeaderTitle/SideNavHeaderTitle";
@import "../components/dialog-components/DisplaySnippetDialog/DisplaySnippetDialog";
@import "../components/footer-components/FooterContent/FooterContent";
@import "../components/footer-components/FooterSideNav/FooterSideNav";
@import "../containers/CreatePage/CreatePage";
@import "../containers/HomePage/HomePage";
@import "../containers/MainLayout/MainLayout";
@import "../containers/DashboardPage/DashboardPage";
@import "../containers/NotFoundPage/NotFoundPage";

.fillHeight {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.accentColor {
  color: $secondary-color;
}

.navHeader {
  background-color: $primary-color;
  min-height: 180px;
  margin: 0;
}

/*.writeSnippetButtonRow > button {
    margin-top: 4px;
}*/

.manageActionBtn {
  margin-right: 4px;
}

@media only screen and (min-width: $medium-screen-up) {
  .brand-logo {
    margin-left: 20px;
  }
}

@media only screen and (max-width: $small-screen) {

  .manageActionBtn {
    margin-right: 0px;
    margin-top: 4px;
  }

  #writeSnippetSaveBtn {
    margin-top: 4px;
  }
  #notFoundHeader, #homepageContainer {
    margin-top: 20px;
  }
}
