@import "../../sass/color";
@import "../../sass/variables";

#codeEditor {
  min-width: 100%;
  min-height: 580px;/*600px;*/
  flex: 1 0 auto;
}

#writeSnippetSaveBtn, #writeSnippetNewBtn, #editSettingsBtn {
  margin-bottom: 4px;
}

@media #{$small-and-down} {
  #writeSnippetSaveBtn {
    margin-top: 4px;
  }
}
